[submodule "seastar"]
	path = seastar
	url = ../seastar
	ignore = dirty
[submodule "swagger-ui"]
	path = swagger-ui
	url = ../scylla-swagger-ui
	ignore = dirty
[submodule "dist/ami/scylla-ami"]
	path = dist/ami/scylla-ami
	url = ../scylla-ami
