# scylla_setup config file

########################
# parameters for setup #
########################
# specify disks for RAID
disks: /dev/sda,/dev/sdb

# specify NIC
nic: eth0

# specify subdomain of pool.ntp.org (ex: centos, fedora or amazon)
ntp_domain:

# specify swap directory
swap_directory:

# enable developer mode
developer_mode: false

########################
# enable/disable setup #
########################

# skip raid setup
raid_setup: true

# setup AMI instance 
ami: false

# optimize NIC and disks
setup_nic_and_disks: false

# skip EC2 configuration check
ec2_check: true

# skip kernel version check
kernel_check: true

# skip verifying packages
verify_package: true

# skip enabling service
enable_service: true

# skip selinux setup
selinux_setup: true

# skip bootparam setup
bootparam_setup: true

# skip ntp setup
ntp_setup: true

# skip coredump setup
coredump_setup: true

# skip sysconfig setup
sysconfig_setup: true

# skip IO configuration setup
io_setup: true

# skip daily version check
version_check: true

# do not install the node exporter
node_exporter: true

# skip cpu scaling setup
cpuscaling_setup: true

# skip fstrim setup
fstrim_setup: true

# skip memory setup
memory_setup: true

# skip swap setup
swap_setup: true
